/* 
https://coolors.co/
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Titillium+Web:wght@600&display=swap');
:root {
  --col1: #c9ded9;
  --col2: #77a69a;
  --col3: #49907e;
  --col4: #2a947a;
}
html {
 background-color: var(--col2);
 font-family: 'Poppins', sans-serif;
 font-family: 'Titillium Web', sans-serif;
}
#app{
    display: flex;
    padding: 20px;
    justify-content: center;
}
#questionCategory {
    padding: 20px;
    background-color: var(--col3);
    color: white;
}

h1{
    background-color: var(--col1);
    padding: 9px;
}
.question-options {
    background-color: var(--col2);
    padding: 14px;
}
#submitAnswer {
    margin-top: 14px;
}

<!-- HTML !-->
<button class="button-23" role="button">Button 23</button>

/* CSS */
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}
#submitAnswer {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 10px;
  outline: none;
  padding: 7px 9px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}
#submitAnswer:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

#submitAnswer:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

#submitAnswer:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}


/* CSS */
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #f5ec8d;
  cursor: not-allowed;
  opacity: 1;
}
.question-response{
    background-color: rgb(241, 218, 66);
    padding: 6px;
    text-align: center;
}