$cell: 80px;

.App {
  text-align: center;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-width: min-content;
  height: 100vh;
  background-color: rgb(189, 244, 236);
  background-image: url("../public/img/blurry_background_start.jpg");
}

.container {
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  width: $cell * 7;
  height: $cell * 6;
  justify-content: center;
  padding: 18px;
  -webkit-box-shadow: -5px 14px 25px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 14px 25px -15px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 14px 25px -15px rgba(0, 0, 0, 0.75);
  // min-width: 700px;
  &_cell {
    width: $cell;
    height: $cell;
    display: flex;
    justify-content: center;
    align-items: center;
    &_place {
      width: $cell * 0.8;
      height: $cell * 0.8;
      background-color: white;
      border-radius: 50%;
      line-height: $cell * 0.8;
      -webkit-box-shadow: inset 0px 0px 54px -8px rgba(0, 0, 0, 0.17);
      -moz-box-shadow: inset 0px 0px 54px -8px rgba(0, 0, 0, 0.17);
      box-shadow: inset 0px 0px 54px -8px rgba(0, 0, 0, 0.17);
      &:hover {
        background-color: rgb(215, 215, 215);
        cursor: crosshair;
      }
    }
  }
}
.canLand {
  // background-color: red;
}
.player1 {
  background-color: blue;
  pointer-events: none;
  color: white;
}
.player2 {
  background-color: red;
  pointer-events: none;
  color: white;
}
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(106, 166, 183);
  background-image: url("../public/img/blurry_background.jpg");
  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    &_btn {
      background-color: rgb(145, 215, 250);
      height: 60px;
      width: 140px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.blue {
  display: none;
}
.red {
  display: none;
}
